.footer{
  position: relative;
  margin-top: 100px;
  padding: 10px 0;
  &::before{
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-top: 2px solid #E0E0E0 ;
    transform: skewY(3deg);
  }
  &-logo{
    font-size: 24px;
    font-weight: bold;
  }
}

@media(max-width: 480px){
  .footer{
    padding: 20px 0;
    &-logo{
      font-size: 16px;
    }
  }
}