.header {
  z-index: 100;
  position: fixed;
  width: 100%;
  padding: 20px 0;
  background: white;

  & .row {
    align-items: center;
  }

  & .container-fluid {
    max-width: unset;
  }

  &-block {
    display: flex;
    align-items: center;

    &__phone {
      display: flex;
      align-items: center;
      margin-right: 48px;
      font-weight: bold;
      color: $text-gray;

      & img {
        margin-right: 7px;
      }
    }

    &__button {
      margin-right: 45px;
      color: $text-gray;
      background: transparent;

      &:hover {
        color: white;
        border-color: $green;
        background: $green;
      }

      &-menu {
        z-index: 103;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 35px;
        width: 50px;
        cursor: pointer;

        & span {
          position: relative;
          display: block;
          width: 37px;
          height: 2px;
          background: $green;
          transition: .3s;

          &::before {
            content: '';
            position: absolute;
            display: block;
            top: -10px;
            right: -5px;
            width: 37px;
            height: 2px;
            background: $green;
          }

          &::after {
            content: '';
            position: absolute;
            display: block;
            bottom: -10px;
            left: -5px;
            width: 37px;
            height: 2px;
            background: $green;

          }
        }

        & .active {
          transform: rotate(45deg);
          background: white;

          &::before {
            top: unset;
            right: unset;
            background: white;
            transform: rotate(0);
          }

          &::after {
            bottom: unset;
            left: unset;
            background: white;
            transform: rotate(90deg);
            transition: .4s;
          }
        }
      }
    }
  }

  &-menu {
    z-index: 102;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 900px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    transition: .6s;

    &::before {
      z-index: -1;
      content: '';
      position: absolute;
      top: 0;
      right: -500px;
      bottom: 0;
      left: 0;
      background: $green;
      transform: skew(157deg);
    }

    &__logo {
      width: 120px;
      position: absolute;
      top: 29px;
      left: 315px;
    }

    &__list {
      display: flex;
      flex-direction: column;
      max-width: 400px;
      margin-right: 200px;
      text-align: right;
      font-size: 40px;
      font-weight: bold;
      color: white;

      & li+li {
        margin-top: 40px;
      }
    }

    & li {
      & a {
        position: relative;

        &::before {
          content: '';
          position: absolute;
          left: 50%;
          bottom: -5px;
          width: 0;
          height: 2px;
          transform: translateX(-50%);
          transition: .3s;
        }

        &:hover {
          &::before {
            background: $purple;
            width: 100%;
          }
        }
      }
    }
  }

  & .menu-active {
    right: 0;
  }

}

@media(max-width: 480px) {
  .header {
    &-block {
      &__phone {
        display: none;
      }

      &__button {
        display: none;
      }
    }

    &-menu {
      // align-items: flex-start;
      width: 100%;
      right: -100%;
      transition: .6s;
      background: $green;

      &::before {
        content: unset;
      }

      &__logo {
        top: 25px;
        left: 15px;
        width: 124px;
      }

      &__list {
        align-items: center;
        width: 100%;
        // margin-top: 35%;
        margin-right: unset;
        text-align: center;
        font-size: 32px;
        & li+li {
          margin-top: 30px;
        }
      }
    }
  }
}