extends views/layout/main

block variables
	-var title = 'SOEKS'

block content
	section.banner
		.container-fluid
			.row
				.col-md-1
				.col-md-5
					.banner-block
						.banner-text
							h1.title.banner-text__title Антивирусный <br> и антибактерицидный облучатель 
								span.purple СОЭКС КВАЗАР
							.banner-text__desc
								span.banner-text__desc-text Мы заботимся о вашей жизни, поэтому делаем свой продукт качественным
								a.button(href='#form') 
									span заказать 
							.circle
								.circle-bg
								a.circle-arrow(href='#form')
									img(src="assets/img/arrow.svg", alt="")
				.col-md-5
					.banner-img
						img(src="assets/img/banner-img.png", alt="")
				.col-md-1

	section.about#about
		.container-fluid
			.row
				.col-md-9.about-bg
					.about-block
						.about-block__text
							h2.about-block__text-title.title Немного о нашем продукте
							span.about-block__text-desc СОЭКС Квазар – надежная профилактика и эффективное лечение кожных и <br> ЛОР-заболеваний, защита от инфекций, передающихся воздушно-капельным путем, дезинфекция воздуха и поверхностей. Подходит для домашнего и амбулаторного использования.
				.col-md-4.about-block__img
					img(src="assets/img/about_img.png", alt="")

	section.use
		.container
			.use-block
				h2.title.use-title Способы применения
				.circle
					.circle-bg
				.use-prev.slick-arrow.slick-prev
				.use-next.slick-arrow.slick-next
				.use-slider
					.use-slider__item
						.use-slider__item-img
							img(src="assets/img/use_item_1.jpg", alt="")
						.use-slider__item-text
							h3.title РЕЦИРКУЛЯЦИЯ ВОЗДУХА В ПОМЕЩЕНИИ
							span Антивирусный и антибактерицидный облучатель СОЭКС "Квазар" полностью продезинфицирует воздух в помещении площадью 30 кв. метров всего за 4 часа – воздух пропускается через специальную камеру с УФ-лампой. Ультрафиолетовый стерилизатор СОЭКС Квазар убивает практически все известные виды бактерий, вирусов и грибков, тем самым предотвращая риск передачи инфекций от уже заболевшего члена семьи. Лампа ультрафиолетового стерилизатора СОЭКС Квазар не пропускает УФ-излучение с длиной волны короче 200 нм, что исключает образование озона, поэтому покидать помещение во время работы прибора не требуется.
					.use-slider__item
						.use-slider__item-img
							img(src="assets/img/use_item_1.jpg", alt="")
						.use-slider__item-text
							h3.title РЕЦИРКУЛЯЦИЯ ВОЗДУХА В ПОМЕЩЕНИИ
							span Антивирусный и антибактерицидный облучатель СОЭКС "Квазар" полностью продезинфицирует воздух в помещении площадью 30 кв. метров всего за 4 часа – воздух пропускается через специальную камеру с УФ-лампой. Ультрафиолетовый стерилизатор СОЭКС Квазар убивает практически все известные виды бактерий, вирусов и грибков, тем самым предотвращая риск передачи инфекций от уже заболевшего члена семьи. Лампа ультрафиолетового стерилизатора СОЭКС Квазар не пропускает УФ-излучение с длиной волны короче 200 нм, что исключает образование озона, поэтому покидать помещение во время работы прибора не требуется.

	section.presentaition
		.container
			h2.title.presentaition-title Презентация продукта
				a.button(href="#form")
					span Заказать
			.presentaition-video
				iframe(width="100%" height="100%" src="https://www.youtube.com/embed/rj73lCWeZQw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
			.presentaition-info
				span Видео поможет узнать о продукте больше
				img(src="assets/img/present_arrow.svg", alt="")

	section.virtues
		.container
			h2.title.virtues-title Достоинства
				a.button(href="#form")
					span Заказать
			.virtues-content
				.virtues-block
					.virtues-block__item
						h2 01
						span Наличие таймера – автоматическое отключение после окончания процедуры
					.virtues-block__item
						h2 02
						span Контроль ресурса лампы ультрафиолетового облучателя (6 000 часов)
					.virtues-block__item
						h2 03
						span Доступность. Сменную лампу можно приобрести в любом хозяйственном магазине
					.virtues-block__item
						h2 04
						span Простая замена лампы – не более 15 секунд
				.virtues-img
					img(src="assets/img/virtues-img.png", alt="")
				.virtues-info
					span Произведено в России
						img(src="assets/img/virtues-check.svg", alt="")

	section.product
		.container-fluid
			.row
				.col-md-1
				.col-md-5
					.product-slider
						.product-slider__item
							.product-slider__item-img
								.product-slider__item-img__block
									img(src="assets/img/virtues-img.png", alt="")
						.product-slider__item
							.product-slider__item-img
								.product-slider__item-img__block
									img(src="assets/img/hist_slide_1.jpg", alt="")
				.col-md-5
					.product-slider__item-text
						h2.title СОЭКС КВАЗАР
						span.product-slider__item-text__desc СОЭКС Квазар – надежная профилактика и эффективное лечение кожных и ЛОР-заболеваний, защита от инфекций, передающихся воздушно-капельным путем, дезинфекция воздуха и поверхностей. Подходит для домашнего и амбулаторного использования.
						.product-slider__item-text__block
							span.product-slider__item-text__block-price 12 500 р.
							a.button(href="#form")
								span Купить
				.col-md-1
				.product-next.slick-arrow.slick-next

	section.order
		.order-ellipse
			.order-ellipse-top
				img(src="assets/img/order-ellipse-top.svg", alt="")
			.order-ellipse-bottom
				img(src="assets/img/order-ellipse-bottom.svg", alt="")
		.container-fluid
			.row
				.col-md-1
				.col-md-10
					.order-block
						h2.title.otder-block__title Заказать продукт всего в 4 шага
						.order-block__steps
							.order-block__steps-item
								h2 01
								p Оформите заказ на сайте www.soeks.ru.
								span.order-block__steps-item__line
							.order-block__steps-item
								h2 02
								p После оформления заказа, в течение дня, с Вами свяжется менеджер для подтверждения доставки.
								span.order-block__steps-item__line

							.order-block__steps-item
								h2 03
								p В случае, если Ваш телефон не доступен, менеджер отправит Вам письмо по эл. почте.
								span.order-block__steps-item__line

							.order-block__steps-item
								h2 04
									img(src="assets/img/virtues-check.svg", alt="")
								p При получении заказа, проверяйте комплектность заказа в присутствии курьера.
								span.order-block__steps-item__line

						.order-info
							span.order-info__block
								| Интернет-магазин СОЭКС работает: ЕЖЕДНЕВНО с 09-00 до 2 <br>
								| Доставка осуществляется: ПОНЕДЕЛЬНИК- ПЯТНИЦА с 09-00 до 21-00; СУББОТА с 10-00 до 18-00 <br>
								| При оформлении заказа в выходные дни заказ обрабатывается в понедельник.
							a.button(href="#form")
								span Связаться с нами
				.col-md-1

	section.history
		.container-fluid
			.row
				.col-md-1
				.col-md-10
					h2.title.history-title Заслуги и история компании “СоЭкс”
					.history-prev.slick-arrow.slick-prev
					.history-next.slick-arrow.slick-next
					.history-slider
						.history-slider__item
							img(src="assets/img/hist_slide_1.jpg", alt="")
							.history-slider__item-info
								span Ежегодная международная премия. <br>"Элита национальной экономики 2012"​
						.history-slider__item
							img(src="assets/img/hist_slide_1.jpg", alt="")
							.history-slider__item-info
								span Ежегодная международная премия. <br>"Элита национальной экономики 2012"​
						.history-slider__item
							img(src="assets/img/hist_slide_1.jpg", alt="")
							.history-slider__item-info
								span Ежегодная международная премия. <br>"Элита национальной экономики 2012"​
						.history-slider__item
							img(src="assets/img/hist_slide_1.jpg", alt="")
							.history-slider__item-info
								span Ежегодная международная премия. <br>"Элита национальной экономики 2012"​
						.history-slider__item
							img(src="assets/img/hist_slide_1.jpg", alt="")
							.history-slider__item-info
								span Ежегодная международная премия. <br>"Элита национальной экономики 2012"​
						.history-slider__item
							img(src="assets/img/hist_slide_1.jpg", alt="")
							.history-slider__item-info
								span Ежегодная международная премия. <br>"Элита национальной экономики 2012"
						.history-slider__item
							img(src="assets/img/hist_slide_1.jpg", alt="")
							.history-slider__item-info
								span Ежегодная международная премия. <br>"Элита национальной экономики 2012"​​
					.history-desc
						p Компания Соэкс была 
							span.purple основана в 2008 году.
							| На сегодняшний день Соэкс – это один из ведущих российских разработчиков и производителей приборов экологического контроля, медицинской и измерительной техники. В наш основной ассортимент входят: персональные электронные нитрат-тестеры для определения безопасности продуктов питания; дозиметры радиации; индикаторы электромагнитных полей, а также инновационный лечебно-профилактический медицинский комплекс.
						p Продукция компании представлена практически во всех городах России, 
							span.purple а также поставляется более чем в 40 стран мира
							| . Производственные линии Соэкс расположены в России, г. Пермь. Головной офис находится в Москве.
				.col-md-1

	section.form#form
		.container-fluid
			.row
				.col-md-9.form-bg
					.form-block
						.form-block__text
							h2.form-block__text-title.title Заказать облучатель СОЭКС Квазар от производителя
							form(action="#").form-block__text-form
								div.input-block
									input(type="text" name="name" placeholder="Ваше имя")
								div.input-block
									input(type="email" name="email" placeholder="E-mail")
								div.input-block
									input(type="tel" name="tel" placeholder="Телефон")
								div
									button.button(type="submit")
										span Отправить
				.col-md-4.form-block__img
					img(src="assets/img/form_img.png", alt="")

	section.opt#opt
		.container-fluid
			.row
				.col-md-10.offset-md-1
					h2.title.opt-title Оптовикам
						a.button(href="#form")
							span Заказать
					.opt-block
						.opt-block__item
							.opt-block__item-img
								img(src="assets/img/opt_icon_1.svg", alt="")
							h3 Низкий порог входа и лояльные условия к новым партнерам
							p Среди наших клиентов есть как крупные торговые сети, так и небольшие компании.
						.opt-block__item
							.opt-block__item-img
								img(src="assets/img/opt_icon_2.svg", alt="")
							h3 Размещение на карте дилеров
							p После заключения договора мы разместим вашу компанию в разделе «Где купить» нашего сайта. Это гарантированный спрос со стороны клиентов, которым удобнее приобретать продукцию у вас по тем или иным причинам.
						.opt-block__item
							.opt-block__item-img
								img(src="assets/img/opt_icon_3.svg", alt="")
							h3 Удобная доставка по всей России
							p Мы работаем практически со всеми транспортными компаниями РФ и доставляем продукцию даже в самые отдаленные регионы. По Москве доставка осуществляется бесплатно.
						.opt-block__item
							.opt-block__item-img
								img(src="assets/img/opt_icon_4.svg", alt="")
							h3 Реклама и спрос
							p Наша реклама регулярно размещается в федеральных СМИ: на ведущих телеканалах, в печатных изданиях и сети Интернет. Именно поэтому спрос на нашу продукцию стабильно высок в течение года.
						.opt-block__item
							.opt-block__item-img
								img(src="assets/img/opt_icon_5.svg", alt="")
							h3 Сертификация и документация
							p Продукция компании Соэкс имеет все необходимые сертификаты стандартов: ГОСТ, ISO, CE, заключения об эффективности и достоверности работы от российских и зарубежных лабораторий.
						.opt-block__item
							.opt-block__item-img
								img(src="assets/img/opt_icon_6.svg", alt="")
							h3 Сделано в России
							p Соэкс — российский производитель и разработчик, поддерживаемый государством.
						.opt-block__item
							.opt-block__item-img
								img(src="assets/img/opt_icon_7.svg", alt="")
							h3 Уникальность продукции
							p Большинство наших приборов не имеет аналогов на рынке, либо конкурирующие товары попадают в более высокую ценовую категорию, что влияет на спрос. На отдельные товарные позиции Соэкс имеются российские и международные патенты на методы измерения.
						.opt-block__item
							.opt-block__item-img
								img(src="assets/img/opt_icon_8.svg", alt="")
							h3 Гарантия производителя
							p Гарантия на всю продукцию — один год. Все приборы проходят многоэтапную проверку на заводе, поэтому брак составляет менее 0,5%. Бракованная продукция заменяется на новую, а поврежденные приборы и приборы старше одного года — ремонтируются. Срок службы товаров не менее 7 лет.
					.opt-button Смотреть ещё
						img(src="assets/img/opt-arrow.svg", alt="")

	section.contacts#contacts
		.container-fluid
			.row
				.col-md-10.offset-md-1
					h2.title Контакты
					.contacts-block
						.contacts-block__item
							.contacts-block__item-img
								img(src="assets/img/contacts_icon_1.svg", alt="")
							h3 Горячая линия для розничныйх покупателей
							p.contacts-block__item-info
								a(href="tel:+74952232727") 8 (495) 223-27-27
								a(href="tel:+78005550285") 8 (800) 555-02-85 
								p звонок по России бесплатный
								p E-mail: 
									a(href="mailto:sales@soeks.ru") sales@soeks.ru
								p Время работы: ежедневно с 09:00 до 21:00 (МСК)
						.contacts-block__item
							.contacts-block__item-img
								img(src="assets/img/contacts_icon_2.svg", alt="")
							h3 Оптовый отдел
							p.contacts-block__item-info
								p
									a(href="tel:+74952232727") 8 (495) 221-05-82
									|, нажмите 1
								a(href="tel:+78005550285") 8 (800) 555-02-85 
								p звонок по России бесплатный
								p E-mail: 
									a(href="mailto:opt@soeks.ru") opt@soeks.ru
								p Время работы: Пн-Пт с 09:00 до 18:00 (МСК)
						.contacts-block__item
							.contacts-block__item-img
								img(src="assets/img/contacts_icon_3.svg", alt="")
							h3 Отдел внешней экономики
							p.contacts-block__item-info
								p
									a(href="tel:+74952232727") 8 (495) 221-05-82
									|, нажмите 9
								a(href="tel:+78005550285") 8 (800) 555-02-85 
								p звонок по России бесплатный
								p E-mail: 
									a(href="mailto:wholesale@soeks.ru") wholesale@soeks.ru
								p Время работы: Пн-Пт с 09:00 до 18:00 (МСК)
						.contacts-block__item
							.contacts-block__item-img
								img(src="assets/img/contacts_icon_4.svg", alt="")
							h3 Сервисная служба
							p.contacts-block__item-info
								p
									a(href="tel:+74952232727") 8 (495) 221-05-82
									|, нажмите 4
								a(href="tel:+78005550285") 8 (800) 555-02-85 
								p звонок по России бесплатный
								p E-mail: 
									a(href="mailto:wholesale@soeks.ru") service@soeks.ru
								p Время работы: Пн-Пт с 09:00 до 18:00 (МСК)
					.contacts-address
						h3 Центральный офис компании СОЭКС
						p Москва, Алтуфьевское шоссе, дом 48, корпус 1, офис 301, 4
					.contacts-map
						.contacts-map__block
							<iframe src="https://yandex.ru/map-widget/v1/-/CCQl54xjOC"  allowfullscreen="true" style="position:relative;"></iframe>




