header.header
  .container-fluid
    .row
      .col-auto
        a.header-logo(href="#wrapper")
          img(src="assets/img/header_logo.svg", alt="логотип", srcset="")
      .col-auto.ml-auto
        .header-block
          a.header-block__phone(href="tel:+78005550285")
            img(src="assets/img/phone.svg", alt="")
            | 8 (800) 555-02-85
          a.button.header-block__button(href='#form')
            span заказать звонок
          .header-block__button-menu#menu-button
            span

      .header-menu
        a.header-menu__logo(href="#wrapper")
          img(src="assets/img/menu_logo.svg", alt="логотип", srcset="")
        ul.header-menu__list
          li
            a(href="#about") О продукте
          li
            a(href="#up") Где купить
          li
            a(href="#tasks") Информация
          li
            a(href="#opt") Оптовикам
          li
            a(href="#contacts") Контакты

      .blur

