block variables

doctype html
html(lang="ru-RU")
	head
		//- metatgs
		meta(charset="utf-8")
		meta(class="viewport" name="viewport" content="width=device-width, initial-scale=1")
		meta(name="keywords" content="")
		meta(name="description" content="")

		//- links
		<!-- Add the slick-theme.css if you want default styling -->
		<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css"/>
		<!-- Add the slick-theme.css if you want default styling -->
		//- <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css"/>

		<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;700&display=swap" rel="stylesheet">
		link(rel="stylesheet" type='text/css' href="assets/css/main.min.css")

		//- title
		title #{title}

		script(src="assets/js/mobile.js")

	body
		.wrapper#wrapper
			include header
			.content
				block content
			include footer
			.body-ellipse-1
				img(src="assets/img/ellipse1.svg", alt="")
			.body-ellipse-2
				img(src="assets/img/ellipse2.svg", alt="")
			.body-ellipse-big
				img(src="assets/img/ellipse-big.svg", alt="")
		
		script(src='https://code.jquery.com/jquery-3.5.1.min.js', integrity='sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=', crossorigin='anonymous')
		script(src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js")
		script(src="assets/js/libs/libs.min.js")
		script(src="assets/js/app.js")