* {
  box-sizing: border-box;
}

body {
  min-width: 1440px;
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 14px;
  line-height: 1.3;
  color: $text-color;
  // overflow-x: hidden;

}

h1,
h2,
h3,
h4 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  outline: none;
}

button {
  cursor: pointer;
  outline: none;
}

img {
  max-width: 100%;
}

.title {
  margin-bottom: 40px;
  font-size: 40px;
  text-transform: uppercase;
}

input {
  position: relative;
  // display: block;
  width: 100%;
  padding: 8px 30px;
  border: none;
  background: transparent;
  color: white;
  outline: none;
}

.input-block {
  border: 2px solid #FFFFFF;
  transform: skew(157deg);
  transition: .3s;

  & input {
    transform: skew(-157deg);
  }
}

.button {
  display: inline-block;
  width: 185px;
  padding: 8px 0;
  border: 2px solid $green;
  text-align: center;
  font-weight: bold;
  background: $green;
  color: white;
  transform: skew(157deg);
  transition: .3s;

  & span {
    display: block;
    transform: skew(-157deg);
  }

  &:hover {
    border-color: $purple;
    background: $purple;
  }
}

.circle {
  position: absolute;
  height: 315px;
  width: 315px;
  display: flex;
  align-items: center;
  justify-content: center;

  &-bg {
    z-index: -1;
    position: absolute;
    height: inherit;
    width: inherit;

    background-position: center;
    background-size: contain;
    transition: all 0.5s ease;
    animation: rotate 25s linear infinite;
  }

  &-arrow {
    z-index: 0;
    cursor: pointer;
    transition: .5s;

    &:hover {
      margin-bottom: 10px;
    }
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
}

.blur {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.29);
  backdrop-filter: blur(7px);
}

.body-ellipse {
  &-1 {
    z-index: 101;
    position: absolute;
    top: 0;
    left: 8%;
  }

  &-2 {
    z-index: -2;
    position: absolute;
    top: 460px;
  }

  &-big {
    z-index: -2;
    position: absolute;
    top: 330px;
    right: 0;
  }
}

.purple {
  color: $purple;
}

.block {
  display: block;
}

.slick {
  position: relative;

  &-list {
    padding: 50px 0 !important;
    margin: -50px 0;
  }

  &-slide {
    height: auto;
    outline: none !important;

    &>div {
      height: 100%;
    }
  }

  &-arrow {
    z-index: 3;
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
  }

  &-prev {
    background: url('../img/arrow_prev.svg') $green no-repeat;
    background-position: center center;
    background-size: 35%;
    transition: background-size 0.3s ease;

    &:hover {
      background-size: 20%;
    }
  }

  &-next {
    background: url('../img/arrow_prev.svg') $green no-repeat;
    background-position: center center;
    transform: rotate(180deg);
    background-size: 35%;
    transition: background-size 0.3s ease;

    &:hover {
      background-size: 20%;
    }
  }
}

.slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;

  & li+li {
    margin-left: 16px;
  }

  & li {
    outline: none;
    cursor: pointer;

    & button {
      width: 16px;
      height: 16px;
      border: 1px solid $orange;
      border-radius: 50%;
      background: transparent;
      font-size: 0;
      outline: none;
      cursor: pointer;
    }

    &.slick-active {
      & button {
        transition: .3s;
        background: $orange;
      }
    }
  }
}

.owl {
  &-stage-outer {
    overflow-x: hidden;
  }
}


.owl-item {
  display: inline-block;
}

.container-fluid {
  max-width: 1440px;
  padding: 0 30px;
}

@media (min-width: 1200px) {

  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    max-width: 1170px;
  }

}

@media(max-width: 479px) {
  body {
    position: relative;
    min-width: unset;
    font-size: 16px;
    line-height: 1.5;
  }

  .container-fluid {
    padding: 0 15px;
  }

  .title{
    font-size: 24px;
    margin-bottom: 20px;
  }

  .body-ellipse {
    &-1 {
      height: 120px;
      width: 260px;
      position: absolute;
      top: 0;
      right: 0;
      left: unset;
      background: url('../img/ellipse_1_mobile.svg') no-repeat;
      & img{
        display: none;
      }
    }

    &-2 {
      height: 270px;
      width: 100px;
      z-index: -2;
      position: absolute;
      top: 275px;
      background: url('../img/ellipse_2_mobile.svg') no-repeat;
      & img{
        display: none;
      }
    }

    &-big {
      display: none;
    }
  }

  .slick {
    &-arrow {
      width: 24px;
      height: 48px;
      border-radius: unset;
    }
  
    &-prev {
      background: url('../img/arrow_prev_mobile.svg') no-repeat;
      background-position: center center;
      background-size: contain;
  
      &:hover {
        background-size: contain;
      }
    }
  
    &-next {
      background: url('../img/arrow_prev_mobile.svg') no-repeat;
      background-position: center center;
      background-size: contain;
  
      &:hover {
        background-size: contain;
      }
    }
  }

  .button {
    width: 200px;
    padding: 11px 0;
  }

  input {
    padding: 11px 30px;
  }
}