.about {
  padding: 50px 0 40px 0;
  position: relative;

  & .row {
    position: relative;
  }

  &-bg {
    position: relative;
    height: 490px;
    padding-top: 165px;
    padding-left: calc(8.33333% + 15px);
    padding-right: calc(16.66667% + 15px);

    &::before {
      content: '';
      z-index: -1;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: -20px;
      background: url('../img/about-bg.svg') no-repeat;
      background-size: contain;
    }
  }

  &-block {
    position: relative;
    display: flex;
    justify-content: space-between;

    &__text {
      position: relative;
      color: white;

      &::before {
        // z-index: -1;
        content: '';
        position: absolute;
        bottom: -25px;
        right: -5px;
        width: 35px;
        height: 25px;
        background: url('../img/bracket.svg') no-repeat;
        background-size: contain;
      }

      &::after {
        // z-index: -1;
        content: '';
        position: absolute;
        top: 70px;
        left: -55px;
        width: 35px;
        height: 25px;
        background: url('../img/bracket.svg') no-repeat;
        background-size: contain;
        transform: rotate(180deg);
      }

      &-desc {
        display: block;
        max-width: 565px;
      }
    }

    &__img {
      position: absolute;
      top: 0;
      right: calc(8.33333% - 40px);

      & img {
        width: 100%;
      }

      &::before {
        // z-index: 1;
        content: '';
        position: absolute;
        height: 330px;
        width: 110px;
        left: -15px;
        bottom: 0;
        background: url('../img/about-circle-img.svg') no-repeat;
        background-size: contain;
      }
    }
  }
}

@media(max-width: 480px) {
  .about {
    padding: 70px 0 55px 0;
    background: url('../img/about-bg_mobile.svg') no-repeat;
    background-size: cover;

    &-bg {
      position: relative;
      height: unset;
      padding-top: unset;
      padding-left: 15px;
      padding-right: 15px;

      &::before {
        content: unset;
      }
    }

    &-block {
      position: relative;
      display: flex;
      justify-content: space-between;

      &__text {

        &::before {
          content: unset;
        }

        &::after {
          content: unset;
        }

        &-desc {
          margin-bottom: 20px;
        }
      }

      &__img {
        position: unset;

        & img {
          width: 100%;
        }

        &::before {
          content: '';
          position: absolute;
          height: 330px;
          width: 110px;
          left: -15px;
          bottom: 0;
          background: url('../img/about-circle-img.svg') no-repeat;
          background-size: contain;
        }
      }
    }
  }
}