.banner {
  padding: 115px 0 310px 0;

  &-block {
    display: flex;
    justify-content: space-between;
  }

  &-text {
    position: relative;
    margin-top: 110px;

    &__title {
      max-width: 670px;
    }

    &__desc {
      display: flex;
      align-items: center;
      margin-bottom: 25px;

      &-text {
        display: inline-block;
        max-width: 262px;
        margin-right: 45px;
      }
    }

    .circle {
      left: 105px;

      &-bg {
        background: url('../img/circle_bg.svg') no-repeat;
      }
    }
  }

  &-img {
    position: relative;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;

    &::before {
      z-index: -1;
      content: '';
      position: absolute;
      right: -80px;
      bottom: -105px;
      width: 600px;
      height: 400px;
      background: url('../img/banner-bg.svg') no-repeat;
    }
  }

}

@media(max-width: 480px) {
  .banner {
    height: 700px;
    padding: 70px 0 50px 0;

    &-text {
      position: relative;
      margin-top: 40px;
      
      &__desc {
        position: absolute;
        top: 440px;
        width: 100%;
        margin-bottom: unset;
  
        &-text {
          max-width: 230px;
          margin-right: unset;
        }

        & .button{
          position: absolute;
          right: 15px;
          bottom: -40px;
        }
      }
  
      .circle {
        display: none;
      }
    }

    

    &-img {
      height: 300px;
      margin-top: -50px;
      justify-content: center;
      align-items: center;
      padding-right: unset;

      & img {
        max-width: 205px;
      }

      &::before {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: unset;
        height: unset;
        background-size: contain;
        background-position: bottom;
      }
    }
  }
}