.contacts {
  position: relative;
  padding: 150px 0 50px 0;

  &::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #F2F6FF;
    transform: skewY(3deg);
  }

  &::after {
    content: '';
    z-index: -2;
    width: 210px;
    height: 500px;
    position: absolute;
    top: -170px;
    right: 0;
    background: url('../img/contacts_ellipse.svg') no-repeat;
  }

  &-block {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px;
    margin-bottom: 40px;

    &__item {
      display: flex;
      flex-direction: column;
      justify-content: start;

      &-img {
        margin-bottom: 20px;
      }

      & h3 {
        font-size: 24px;
        margin-bottom: 20px;
      }

      & p {
        margin: 0;

        & a {
          font-weight: bold !important;
        }
      }

      &-info {
        display: flex;
        flex-direction: column;
      }
    }
  }

  &-address {
    margin-bottom: 20px;

    & h3 {
      font-size: 24px;
      margin-bottom: 20px;
    }
  }

  &-map {
    position: relative;
    height: 500px;
    padding: 0 40px;
    display: flex;
    align-items: center;

    &::before {
      content: '';
      z-index: -1;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: -65px;
      background: url('../img/contacts_map_bg.svg') no-repeat;
      background-size: contain;
    }

    &__block {
      width: 100%;
      height: 300px;
      box-shadow: 0px 25px 30px rgba(0, 0, 0, 0.13);

      & iframe {
        width: 100%;
        height: 100%;
        border: none;
      }

    }
  }
}

@media(max-width: 480px) {
  .contacts {
    padding: 55px 0;

    &::after {
      content: unset;
    }

    &-block {
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 30px;
      margin-bottom: 40px;

      &__item {
        &-img {
          margin-bottom: 15px;
        }

        & h3 {
          font-size: 18px;
          margin-bottom: 15px;
        }
      }
    }

    &-address {
      margin-bottom: 15px;
  
      & h3 {
        font-size: 18px;
        margin-bottom: 15px;
      }
    }

    &-map {
      height: 190px;
      padding: 0;
  
      &::before {
        content: unset;
      }
  
      &__block {
        height: 100%;
      }
    }
  }
}