.form {
  padding: 65px 0 50px 0;
  position: relative;

  &::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url('../img/form-ellipse.svg') no-repeat;
    background-position: 80% center;
    background-size: contain;
  }


  & .row {
    position: relative;
  }

  &-bg {
    height: 555px;
    padding-top: 135px;
    background: url('../img/form-bg.svg') no-repeat;
    background-position: 15px center;

    padding-left: 8.33333%;
    padding-right: 16.66667%;
  }

  &-block {

    &__text {
      position: relative;
      color: white;

      &-form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 40px;

        & .button {
          width: 100%;
        }
      }

    }

    &__img {
      position: absolute;
      top: -40px;
      right: calc(8.33333% - 40px);

      & img {
        width: 100%;
      }

      // &::before {
      //   // z-index: 1;
      //   content: '';
      //   position: absolute;
      //   height: 330px;
      //   width: 110px;
      //   left: -15px;
      //   bottom: 0;
      //   background: url('../img/about-circle-img.svg') no-repeat;
      //   background-size: contain;
      // }
    }
  }
}

@media(max-width: 480px) {
  .form {
    padding: 70px 0 100px 0;
    background: url('../img/form_bg_mobile.svg') no-repeat;
    background-size: cover;

    &-bg {
      height: unset;
      padding-top: unset;
      padding-left: 15px;
      padding-right: 15px;
      margin-bottom: 40px;
      background: unset;
    }

    &-block {
      &__text {
        &-form {
          grid-template-columns: 1fr;
          grid-gap: 20px;
          padding: 0 10px;
        }
      }

      &__img {
        position: unset;

        & img {
          width: 100%;
          max-height: 270px;
        }

        // &::before {
        //   // z-index: 1;
        //   content: '';
        //   position: absolute;
        //   height: 330px;
        //   width: 110px;
        //   left: -15px;
        //   bottom: 0;
        //   background: url('../img/about-circle-img.svg') no-repeat;
        //   background-size: contain;
        // }
      }
    }
  }
}