.history {
  padding: 150px 0 50px 0;
  position: relative;

  &::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url('../img/history-ellipse.svg') no-repeat;
    background-position: 0 center;
  }

  &-title {
    text-align: center;
  }

  &-prev {
    top: 40%;
    left: 33%;
  }

  &-next {
    top: 40%;
    right: 33%;
  }

  &-slider {

    & .slick-slide {
      max-width: 370px;
      width: 100% !important;
      padding-top: 50px;
      // margin-top: -50px;
      padding-bottom: 50px;
      background: url('../img/history-bg.svg') no-repeat;
      background-size: 0;
      background-position: center top;
      transition: background-size 0.5s ease;
    }

    & .slick-center {
      background-size: 100%;

      & .history-slider__item-info {
        opacity: 1;
      }
    }

    &__item {
      position: relative;
      display: flex !important;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;

      & img {
        margin: 0 auto;
        margin-bottom: 40px;
      }

      &-info {
        // z-index: 1;
        // position: absolute;
        opacity: 0;
        width: 245px;
        padding: 20px;
        border-radius: 10px;
        font-weight: bold;
        background: #FFFFFF;
        box-shadow: 0px 25px 30px rgba(0, 0, 0, 0.13);
        transition: .6s;
      }
    }
  }

  &-desc {
    & p+p {
      margin-top: 20px;
    }

    & p {
      & .purple {
        font-weight: bold;
      }
    }
  }
}

@media(max-width: 480px) {
  .history {
    padding: 80px 0 50px 0;

    &::before {
      content: unset;
    }

    &-title {
      text-align: left;
    }

    &-slider {
      margin: 0 -15px;

      & .slick-slide {
        background: url('../img/history_bg_mobile.svg') no-repeat;
        background-size: 0;
        background-position: center top;
        transition: background-size 0.5s ease;
      }

      & .slick-center {
        background-size: 100%;
  
        & .history-slider__item-info {
          opacity: 1;
        }
      }

      &__item {
        & img {
          margin-bottom: 30px;
        }
  
        &-info {
          width: 315px;
          padding: 15px;
        }
      }
    }

    &-prev {
      top: 76px;
      left: unset;
      right: 85px;
    }
  
    &-next {
      top: 78px;
      right: 15px;
    }
  }
}