.opt {
  padding: 50px 0 100px 0;

  &-title {
    display: flex;
    align-items: center;

    & .button {
      margin-left: 45px;
      font-size: 14px;
      text-transform: capitalize;
    }
  }

  &-block {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px;

    &__item {
      display: flex;
      flex-direction: column;
      justify-content: start;
      text-align: left;

      &-img {
        margin-bottom: 20px;
      }

      & h3 {
        margin-bottom: 20px;
        font-size: 24px;
      }

      & p {
        margin: 0;
      }
    }
  }

  &-button{
    display: none;
  }
}

@media(max-width: 480px) {
  .opt {
    padding: 35px 0 80px 0;

    &-title {
      & .button {
        display: none;
      }
    }

    &-block {
      height: 550px;
      position: relative;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 30px;
      margin-bottom: 40px;
      overflow: hidden;

      &::before {
        content: '';
        z-index: 1;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 82.81%) no-repeat;
        background-position: center bottom;
        background-size: 100% 105px;
      }

      &__active{
        height: unset;
      }

      &__item {
        &-img {
          margin-bottom: 15px;
        }

        & h3 {
          margin-bottom: 15px;
          font-size: 18px;
        }
      }
    }

    &-button{
      display: block;
      text-align: center;
      font-weight: bold;
      color: $purple;
      & img{
        margin-left: 7px;
      }
      & .active{
        transform: rotate(180deg);
      }
    }
  }
}