.order {
  padding: 120px 0;
  position: relative;

  &::before {
    z-index: -1;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #F2F6FF;
    transform: skewY(3deg);
  }

  &-ellipse {
    &-top {
      z-index: -2;
      position: absolute;
      right: 0;
      top: -230px;
    }

    &-bottom {
      z-index: -2;
      position: absolute;
      right: 0;
      bottom: -250px;
    }
  }

  &-block {
    &__steps {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 40px;
      margin-bottom: 35px;

      &-item {
        position: relative;
        padding: 40px;
        background: white;

        & h2 {
          margin-bottom: 40px;
          color: $purple;
        }

        & p {
          margin: 0;
        }

        & img {
          margin-left: 10px;
        }

        &__line {
          z-index: 1;
          position: absolute;
          top: 50%;
          right: -52px;
          transform: translateY(-50%);
          display: block;
          height: 2px;
          width: 25%;
          background: $green;
          transform: rotate(2.78deg);
        }

        &:nth-child(2n) {
          & .order-block__steps-item__line {
            transform: matrix(-1, 0.05, 0.05, 1, 0, 0);
          }
        }

        &:last-child {
          & .order-block__steps-item__line {
            display: none;
          }
        }
      }
    }
  }

  &-info {
    display: flex;
    align-items: center;

    &__block {
      margin-right: 45px;
    }
  }
}

@media(max-width: 480px) {
  .order {
    padding: 55px 0 130px 0; 

    &-ellipse {
      &-top {
        display: none;
      }
  
      &-bottom {
        display: none;
      }
    }

    & .title {
      max-width: 250px;
    }

    &-block {
      &__steps {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
        margin-bottom: 35px;

        &-item {
          padding: 15px;

          & h2 {
            margin-bottom: 15px;
          }

          & p {
            margin: 0;
          }

          & img {
            margin-left: 10px;
          }

          &__line {
            left: 45%;
            bottom: -10px;
            top: unset;
            right: unset;
            height: 2px;
            width: 40px;
            transform: rotate(90deg + 2.78deg);
          }

          &:nth-child(2n) {
            & .order-block__steps-item__line {
              transform: rotate(90deg - 2.78deg);
            }
          }

        }
      }
    }

    &-info {
      display: flex;
      align-items: center;
  
      &__block {
        margin-right: 0;
      }

      & .button{
        position: absolute;
        bottom: -70px;
        right: 25px;
      }
    }
  }
}