.presentaition {
  position: relative;
  padding: 100px 0;
  background: url('../img/present_bg_1.svg') no-repeat;
  background-position: left 100px;

  &::before {
    z-index: -1;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url('../img/present_ellipse.svg') no-repeat;
    background-position: right 100px;
  }

  & .container {
    position: relative;
  }

  &-title {
    display: flex;
    align-items: center;

    & .button {
      margin-left: 45px;
      font-size: 14px;
      text-transform: none;
    }
  }

  &-video {
    max-width: 685px;
    height: 385px;
  }

  &-info {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    max-width: 320px;
    padding: 20px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    color: $purple;
    background: white;
    box-shadow: 0px 25px 30px rgba(0, 0, 0, 0.13);

    & img {
      position: absolute;
      top: 60px;
      left: -40px;
      // transition: all 0.5s linear;
      // animation: eye 1.5s linear infinite;
    }

    // @keyframes eye {
    //   from { left: -40px; }
    //   to { left: -50px; }
    // }
  }
}

@media(max-width: 480px) {
  .presentaition {
    padding: 40px 0 60px 0;
    background: url('../img/present_bg_mobile.svg') no-repeat;
    background-position: 15px 190px;

    &::before {
      z-index: -1;
      content: '';
      position: absolute;
      top: 20px;
      right: 0;
      bottom: 0;
      left: unset;
      width: 140px;
      height: 220px;
      background: url('../img/present_ellipse_mobile.svg') no-repeat;
      background-size: unset;
    }

    &-title {
      & .button {
        display: none;
      }
    }

    &-video {
      height: 195px;
      margin-bottom: 240px;
    }

    &-info {
      position: absolute;
      right: 0;
      top: 150%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 240px;
      padding: 15px;
      font-size: 18px;
  
      & img {
        top: -30px;
        left: 37%;
        transform: rotate(90deg);
      }

    }
  }
}