.product {
  position: relative;
  padding: 100px 0;

  &-slider {
    height: 530px;
    background: url('../img/product-bg.svg') no-repeat;
    padding-left: 65px;
    margin-left: -65px;
    &__item {
      &-img {
        &__block {
          width: 65%;
          height: 100%;
          margin-top: 15px;
          margin-left: 40px;
          display: flex;
          align-items: center;
          justify-content: center;

          // background: black;
          & img {
            max-width: 245px;
          }
        }

      }

      &-text {
        margin-top: 70px;

        &__desc {
          display: block;
          margin-bottom: 40px;
        }

        &__block {
          display: flex;
          align-items: center;

          &-price {
            margin-right: 45px;
            font-size: 24px;
            font-weight: bold;
            color: $purple;
          }
        }
      }
    }
  }

  & .product-next {
    left: 40%;
    top: 42%;
    background: url('../img/arrow_prev.svg') $purple no-repeat;
    background-position: center center;
    background-size: 35%;
    transition: background-size 0.3s ease;

    &:hover {
      background-size: 20%;
    }
  }
}

@media(max-width: 480px) {
  .product {
    padding: 120px 0 60px 0;

    &-slider {
      height: 370px;
      padding: 0;
      margin: 0 -15px;
      background: url('../img/product_bg_mobile.svg') no-repeat;
      background-size: cover;
      &__item {
        &-img {

          &__block {
            margin-left: 15px;

            & img {
              max-width: 175px;
            }
          }

        }

        &-text {
          margin-top: 20px;

          & .title {
            position: absolute;
            top: -400px;
          }

          &__desc {
            margin-bottom: 20px;
          }

          &__block {
            padding-right: 10px;
            justify-content: space-between;
  
            &-price {
              margin-right: 0;
              font-size: 18px;
            }
          }
        }
      }
    }

    & .product-next {
      left: unset;
      right: 30px;
      top: 30%;
      background: url('../img/arrow_prev_mobile.svg') no-repeat;
      background-position: center center;
      background-size: contain;

      &:hover {
        background-size: contain;
      }
    }
  }
}