.use {
  padding: 40px 0;

  & .container {
    position: relative;
    background: url('../img/use-bg.svg') no-repeat;
    background-size: 56%;
    background-position: 30px 90px;
  }

  & .circle {
    z-index: 1;
    width: 250px;
    height: 250px;
    bottom: 70px;

    &-bg {
      background: url('../img/use-circle.svg') no-repeat;
    }
  }

  & .slick {
    &-prev {
      right: 500px;
      bottom: 120px;
    }

    &-next {
      right: 380px;
      bottom: 120px;
    }
  }

  &-slider {
    z-index: 2;
    padding: 52px 10px 0 10px;
    margin: 0 -10px;

    &__item {
      display: flex !important;
      align-items: start;
      justify-content: space-between;

      &-text {
        margin-left: 60px;
        max-width: 440px;
        width: 100%;

        & h3 {
          font-size: 24px;
        }
      }

      &-img {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        height: 500px;
        max-width: 670px;
        width: 100%;

        & img {
          // z-index: 12;
          position: absolute;
        }
      }
    }

  }
}

@media(max-width: 480px) {
  .use {
    padding: 60px 0;

    & .container {
      position: relative;
      background: unset;
    }

    & .circle {
      z-index: 3;
      width: 120px;
      height: 120px;
      bottom: 5px;
      left: -30px;

      &-bg {
        background: url('../img/use-circle.svg') no-repeat;
        background-size: contain;
      }
    }

    &-slider {
      z-index: 2;
      padding: unset;
      margin: unset;

      &__item {
        flex-direction: column-reverse;
        padding: 45px 15px 0 15px;
        background: #f9f9f9;

        &-text {
          margin-left: unset;
          margin-bottom: 20px;

          & h3 {
            font-size: 18px;
          }
        }

        &-img {
          height: unset;

          & img {
            position: unset;
          }
        }
      }

    }

    & .slick {
      &-prev {
        top: 32px;
        right: 85px;
        bottom: unset;
      }
  
      &-next {
        top: 32px;
        right: 15px;
        bottom: unset;
      }
    }
  }
}