.virtues {
  position: relative;
  padding: 155px 0 220px 0;
  
  &::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 68.5%;
    background: #F9F9F9;
    background-size: contain;
    transform: skewY(3deg);
  }

  & .container {
    position: relative;
  }

  &-title {
    display: flex;
    align-items: center;

    & .button {
      margin-left: 45px;
      font-size: 14px;
      text-transform: none;
    }
  }

  &-block {
    max-width: 680px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;

    &__item {
      & h2 {
        margin-bottom: 20px;
        font-size: 24px;
        color: $purple;
      }
    }
  }

  &-img {
    position: absolute;
    top: -80px;
    right: 50px;
  }

  &-info{
    position: absolute;
    left: 70%;
    transform: translateX(-55%);
    max-width: 244px;
    padding: 20px;
    border-radius: 10px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: $purple;
    background: white;
    box-shadow: 0px 25px 30px rgba(0, 0, 0, 0.13);
    & img{
      position: absolute;
      margin: 5px 0 0 10px;
    }
  }
}

@media(max-width: 480px){
  .virtues {
    padding: 55px 0 55px 0;

    &::before {
      width: 100%;
    }

    &-title {
      & .button {
        position: absolute;
        bottom: 0;
        right: 25px;
      }
    }

    &-block {
      grid-template-columns: 1fr;
      grid-gap: 15px;
  
      &__item {
        & h2 {
          margin-bottom: 15px;
        }
      }
    }
  
    &-img {
      position: unset;
      max-width: 185px;
      margin-left: auto;
      margin-right: 30px;
    }

    &-info{
      left: 30px;
      bottom: 90px;
      transform: unset;
      width: 150px;
      padding: 15px;
      font-size: 18px;
      & img{
        width: 15px;
        margin: 7px 0 0 5px;
      }
    }
  
  }
}